/* VARIABLES */
:root {
  --main-color: hsl(200, 25%, 5%);
  --secondary-color: hsl(190, 1%, 95%);
  --name-color: hsl(45, 100%, 50%);
  --light-color: hsl(40, 90%, 55%);
  --text-color: hsl(190, 0%, 70%);
  --anim-time-screen: 1.2s;
  --anim-time-screen-delay: 1s;
  --anim-time-title: 0.9s;
  --anim-time-text: 1s;
  --anim-time-icon: 0.2s;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: 'Passion One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--main-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

canvas {
  position: fixed;
  z-index: -1;
  /* filter: blur(50px); */
}

/* SIDE CONTACT ICONS */
.contact-icons {
  width: 2px;
  padding: calc(0px + 5vh) 0;
  margin: 0 calc(20px + 2%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  background: hsla(200, 0%, 50%, 0.1);
  border-radius: 0 10px 0 0;
  row-gap: 3vh;
  z-index: 9999;
}
.nav-icon {
  width: 24px;
  aspect-ratio: 1;
  color: white;
  opacity: 0.6;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s ease;
}
.nav-icon:hover {
  opacity: 1;
  transform: translateY(-2px);
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.linkedin {
  filter: saturate(0);
  background: url('/images/socials/linkedIn-logo.svg');
}
.linkedin:hover {
  filter: saturate(1);
}
.github {
  background: url('/images/socials/github-logo.svg');
}
.github:hover {
  color: #414141;
}
.codepen {
  background: url('/images/socials/codepen-logo.svg');
}
.codepen:hover,
.envelope:hover {
  color: white;
}

/* NAVBAR */
.nav-container {
  width: 100%;
  min-width: 770px;
  height: 6vh;
  padding: 5vh 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  gap: 50px;
  cursor: pointer;
  z-index: 9999;
  transition: var(--anim-time-icon) ease;
}
.nav-container i {
  width: 100%;
  font-size: calc(1rem + 20%);
  text-align: center;
  align-self: center;
}
.logo {
  width: 64px;
  aspect-ratio: 1;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Passion One', cursive;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--name-color);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: var(--anim-time-text) ease;
}
.logo:hover {
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  color: white;
  filter: saturate(1);
}
.logo span {
  color: white;
  transition: var(--anim-time-text) ease;
}
.logo:hover span {
  color: var(--light-color);
}

.desaturate {
  filter: saturate(0);
}

.nav-menu {
  width: 40%;
  height: 1px;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 15%;
  position: fixed;
  right: 0;
}
.nav-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: -0.5px;
  word-spacing: 3px;
  color: var(--name-color);
  text-transform: uppercase;
  list-style: square;
  white-space: nowrap;
  text-shadow: 0px 0px 2px var(--main-color);
}
.nav-text-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  border-radius: 10px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  transition: var(--anim-time-icon) ease;
}
.nav-text-link:hover {
  color: white;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}

.nav-text-link::after {
  content: '';
  width: 0%;
  height: 1px;
  margin-top: -2px;
  background-color: transparent;
  transition: var(--anim-time-text) ease-out;
  z-index: -1;
}
.nav-text-link:hover::after {
  width: 100%;
  height: 1px;
  background-color: var(--light-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.active-link {
  color: white;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}
.active-link::after {
  width: 100%;
  height: 1px;
  background-color: var(--light-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* MAIN CONTAINER */
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.home-container,
.about-container,
.projects-container,
.contact-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: var(--anim-time-screen) ease-in-out,
    opacity var(--anim-time-text) ease-out;
}

.home-wrapper,
.about-wrapper,
.projects-wrapper,
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  cursor: default;
}

.home-text,
.about-text,
.projects-text,
.contact-text {
  font-family: 'Poppins', sans-serif;
  font-size: calc(9px + 50%);
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  word-spacing: 1px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  transform: perspective(500px) rotateX(0deg);
  transition: var(--anim-time-text) ease var(--anim-time-screen-delay);
}
.text {
  transform: perspective(500px) rotateX(90deg);
  opacity: 1;
}

/* Home Container -----------------------------------------*/
.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-wrapper {
  width: 50%;
}

.home-title {
  font-family: 'Poppins', sans-serif;
  font-size: calc(64px + 50%);
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: -4px;
  word-spacing: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: var(--name-color);
}
.home-title > span {
  color: white;
}

.home-text {
  width: 100%;
  height: 100%;
}

.home-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  color: white;
  opacity: 0.7;
  cursor: pointer;
  transition: var(--anim-time-icon) ease-out;
}
.home-link:hover {
  opacity: 1;
}

.home-link::after {
  content: '';
  width: 0%;
  height: 0.5px;
  margin-top: -5px;
  background-color: transparent;
  transition: var(--anim-time-text) ease-out;
  z-index: -1;
}
.home-link:hover::after {
  width: 100%;
  height: 1px;
  background-color: var(--light-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* About Container -----------------------------------------*/
.about-container {
  width: 100%;
  height: 100%;
}
.about-title {
  font-family: 'Poppins', sans-serif;
  font-size: calc(64px + 50%);
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: -4px;
  word-spacing: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: var(--name-color);
}

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-title {
  font-family: 'Poppins', sans-serif;
  font-size: calc(64px + 50%);
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: -4px;
  word-spacing: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: var(--name-color);
}

.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-title {
  font-family: 'Poppins', sans-serif;
  font-size: calc(64px + 50%);
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: -4px;
  word-spacing: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: var(--name-color);
}
