/* VARIABLES ==================================================================================================================*/
:root {
  --main-color: hsl(200, 15%, 6%);
  --text-color: hsl(190, 0%, 70%);
  --page1-hue: 45;
  --page2-hue: 100;
  --page3-hue: 200;
  --page4-hue: 260;
  --page1-color: hsl(var(--page1-hue), 100%, 50%);
  --page2-color: hsl(var(--page2-hue), 70%, 40%);
  --page3-color: hsl(var(--page3-hue), 80%, 50%);
  --page4-color: hsl(var(--page4-hue), 80%, 45%);
  --page1-text-color: hsl(var(--page1-hue), 50%, 75%);
  --page2-text-color: hsl(var(--page2-hue), 30%, 75%);
  --page3-text-color: hsl(var(--page3-hue), 40%, 75%);
  --page4-text-color: hsl(var(--page4-hue), 25%, 75%);
  --anim-time-intro: 1.4s;
  --anim-time-screen: 1.1s;
  --anim-time-text: 0.5s;
  --anim-time-underline: 0.3s;
  --anim-time-icon: 0.2s;
  --underline-weight: 0.9px;
  --perspective: 300px;
}

/* FONTS ================================================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Lora', serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

/* ANIMATIONS ======================================================================================================================================*/
@keyframes pulse {
  0% {
    fill: var(--text-color);
    color: var(--text-color);
  }
  100% {
    fill: white;
    color: white;
  }
}

@keyframes pulse-linkedIn {
  0% {
    fill: hsl(200, 0%, 37%);
  }
  100% {
    fill: #007ebb;
  }
}

/* CUSTOM STYLING ==================================================================================================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

*:focus {
  outline-offset: 2px;
  outline: 1px dashed rgba(255, 255, 255, 0.5);
  margin-bottom: -1px;
  color: white !important;
  border-radius: 1px;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--main-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  cursor: grab;
}
canvas {
  position: fixed;
  z-index: -1;
  background: var(--main-color);
}

/* INTRO SCREEN -------------------------------------------------------------------------------------------------------------------------------------*/
.intro-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--main-color);
  z-index: 999;
}
.disappear {
  opacity: 0;
  transition: var(--anim-time-intro) ease;
}
.contact-icons-load {
  transform: translateY(100%);
}
.nav-container-load {
  transform: translateY(-100%);
}

/* NAVBAR -------------------------------------------------------------------------------------------------------------------------------------*/
.nav-container {
  width: 100%;
  min-width: 770px;
  height: 6vh;
  padding: 5vh 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  gap: 50px;
  z-index: 9999;
  transition: var(--anim-time-screen) ease;
}
.nav-container i {
  width: 100%;
  font-size: calc(1rem + 20%);
  text-align: center;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: var(--anim-time-underline) ease-out;
}
.logo-wrapper::after {
  content: '';
  width: 0px;
  height: var(--underline-weight);
  margin-top: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: var(--anim-time-underline) ease-out;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  color: var(--page1-color);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: var(--anim-time-text) ease;
  column-gap: 5px;
}

.logo-span {
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: -1px;
  text-align: center;
  color: var(--text-color);
  transition: var(--anim-time-text) ease;
}
.logo:hover .logo-span {
  color: white;
}

.active-logo-link {
  color: white;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  transition: var(--anim-time-underline) ease-out;
}
.active-logo-link::after {
  content: '';
  width: 60%;
  height: var(--underline-weight);
  color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  transition: var(--anim-time-underline) ease-out;
}
.active-logo-link .logo-span {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu {
  width: 40%;
  height: 1px;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 25%;
  position: fixed;
  right: 0;
}
.nav-text {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: -0.5px;
  word-spacing: 3px;
  color: var(--page1-color);
  text-transform: uppercase;
  list-style: square;
  white-space: nowrap;
  text-shadow: 0px 0px 2px var(--main-color);
}
.nav-text-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  transition: var(--anim-time-icon) ease;
  cursor: pointer;
}
.nav-text-link:hover {
  color: white;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}
.nav-text-link::after {
  content: '';
  width: 0%;
  height: var(--underline-weight);
  background: transparent;
  transition: var(--anim-time-underline) ease-out;
  z-index: -1;
}

.active-link {
  color: white;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}
.active-link::after {
  content: '';
  width: 100%;
  height: var(--underline-weight);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* SIDE CONTACT ICONS -------------------------------------------------------------------------------------------------------------------------------------*/
.contact-icons {
  width: 2px;
  padding: 5vh 0;
  margin: 0 7%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  background: hsla(200, 0%, 50%, 0.1);
  row-gap: 3vh;
  z-index: 9999;
  transition: var(--anim-time-screen) ease;
}
.nav-icon {
  width: 24px;
  aspect-ratio: 1;
  color: var(--text-color);
  font-size: 23px;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s ease;
}
.nav-icon:hover {
  opacity: 1;
  transform: translateY(-2px);
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.envelope {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.envelope:hover {
  color: white;
  animation: pulse 0.5s infinite alternate;
}

.github {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-color);
}
.github:hover {
  fill: white;
  animation: pulse 0.5s infinite alternate;
}
.codepen {
  fill: var(--text-color);
}
.codepen-wrapper:hover .codepen {
  fill: white;
  animation: pulse 0.5s infinite alternate;
}
.codepen-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkedin {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkedin-white {
  fill: #e0e0e0;
}
.linkedin:hover .linkedin-white {
  fill: white;
}
.linkedin-blue {
  fill: hsl(200, 0%, 37%);
}
.linkedin:hover .linkedin-blue {
  fill: #007ebb;
  animation: pulse-linkedIn 0.5s infinite alternate;
}

/* MAIN CONTAINER -------------------------------------------------------------------------------------------------------------------------------------*/
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.home-container,
.about-container,
.projects-container,
.contact-container {
  width: 100%;
  height: 100%;
  padding: 15vh 20%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.home-wrapper,
.about-wrapper,
.projects-wrapper,
.contact-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.home-title,
.about-title,
.projects-title,
.contact-title {
  font-family: 'Poppins', sans-serif;
  font-size: calc(50px + 0.9vw);
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: -3px;
  word-spacing: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  transition: var(--anim-time-text) ease;
}
.home-title {
  color: var(--page1-color);
}
.home-title > span {
  color: white;
}
.about-title {
  color: var(--page2-color);
}
.projects-title {
  color: var(--page3-color);
}
.contact-title {
  color: var(--page4-color);
}

.home-text,
.about-text,
.projects-text,
.contact-text {
  font-family: 'Raleway', sans-serif;
  font-size: calc(14px + 0.3vw);
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
  word-spacing: 1px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  transform: perspective(var(--perspective)) rotateX(0deg);
  transition: var(--anim-time-text) ease;
}
.home-text {
  color: var(--page1-text-color);
}
.about-text {
  color: var(--page2-text-color);
}
.projects-text {
  color: var(--page3-text-color);
}
.contact-text {
  color: var(--page4-text-color);
}

.text {
  transform: perspective(var(--perspective)) rotateX(90deg);
  opacity: 0;
}
.text2 {
  transform: perspective(var(--perspective)) rotateX(-90deg);
  opacity: 0;
}

.home-text span,
.about-text span,
.projects-text span,
.contact-text span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.4s ease-out;
}
.home-text span:hover,
.about-text span:hover,
.projects-text span:hover,
.contact-text span:hover {
  color: white;
}
.home-text span::after,
.about-text span::after,
.projects-text span::after,
.contact-text span::after {
  content: '';
  width: 0%;
  height: 1px;
  margin-top: -5px;
  background-color: transparent;
  transition: var(--anim-time-underline) ease-out;
  z-index: -1;
}
.home-text span:hover::after,
.about-text span:hover::after,
.projects-text span:hover::after,
.contact-text span:hover::after {
  width: 100%;
  height: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.home-text span:hover::after {
  background-color: var(--page1-color);
}
.about-text span:hover::after {
  background-color: var(--page2-color);
}
.projects-text span:hover::after {
  background-color: var(--page3-color);
}
.contact-text span:hover::after {
  background-color: var(--page4-color);
}

/* FOOTER -------------------------------------------------------------------------------------------------------------------------------------*/
.footer-container {
  width: 100%;
  padding: 2vh 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 300;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  gap: 5px;
  white-space: nowrap;
}
.footer-container a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-name {
  font-weight: 900;
  cursor: pointer;
  text-transform: capitalize;
  transition: var(--anim-time-icon) ease;
}
.footer-name:hover {
  animation: pulse 0.5s infinite alternate;
}

/* SHARED CLASSES =============================================================================================================================*/
.grabbing {
  cursor: grabbing;
}

.page1-bg::after {
  background: var(--page1-color);
}
.page2-bg::after {
  background: var(--page2-color);
}
.page3-bg::after {
  background: var(--page3-color);
}
.page4-bg::after {
  background: var(--page4-color);
}
.page1-bg:hover::after {
  background: var(--page1-color);
}
.page2-bg:hover::after {
  background: var(--page2-color);
}
.page3-bg:hover::after {
  background: var(--page3-color);
}
.page4-bg:hover::after {
  background: var(--page4-color);
}

.page1-color {
  color: var(--page1-color);
  transition: var(--anim-time-text) ease;
}
.page2-color {
  color: var(--page2-color);
  transition: var(--anim-time-text) ease;
}
.page3-color {
  color: var(--page3-color);
  transition: var(--anim-time-text) ease;
}
.page4-color {
  color: var(--page4-color);
  transition: var(--anim-time-text) ease;
}

.page-exit-right {
  transform: translateX(100%);
  opacity: 1;
}
.page-exit-bottom {
  transform: translateY(100%);
  opacity: 1;
}
